<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gallery.mapper.NoticeMapper">
<select id="list" resultType="com.gallery.notice.NoticeVO">

		select nId,mId,title,content,regDate
		from (select nId,mId,title,content,regDate,
		row_number() over(order by nId desc) as rNum
		from notice
		where 1=1

		<include refid="search" />

		) mp
		where rNum between #{rowStart} and #{rowEnd}
		order by nId desc

</select>

	<select id="listCount" resultType="int">
		SELECT COUNT(nId)
		FROM notice
		WHERE 1=1
		<include refid="search" />

		And cNo > 0
	</select>

	<select id="read" resultType="com.gallery.notice.NoticeVO">
		select
		nId,mId,title,content
		from
		notice
		where nId = #{nId}
	</select>

	<update id="update">
		update notice set title =#{title}, content
		=#{content}, regDate = sysdate
		where nId = #{nId}
	</update>

	<delete id="delete">
		delete from notice where nId = #{nId}
	</delete>
</mapper>